<div class="mb-3">
    <label for="username" class="form-label">Kullanıcı adı</label>
    <input type="text" class="form-control" id="username" placeholder="Kullanıcı Adını Giriniz">
</div>
<div class="mb-3">
    <label for="password" class="form-label">Şifre</label>
    <input type="password" class="form-control" id="password" placeholder="Şifrenizi Giriniz">
</div>
<div class="mb-3">
    <label for="password2" class="form-label">Şifrenizi tekrar giriniz</label>
    <input type="password" class="form-control" id="password2" placeholder="Şifrenizi Giriniz">
</div>
<div class="mb-3">
    <label for="btnLogin" class="form-label"></label>
    <button type="button" id="btnLogin" class="btn btn-primary" onclick="Register()">Kayıt Ol</button>
</div>


@section Scripts
{
    <script src="~/js/register.js" asp-append-version="true"></script>
}