@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3">
  <label for="startDate" class="form-label">Başlangıç Tarihi</label>
  <input type="date" class="form-control" id="startDate">
</div>
<div class="mb-3">
  <label for="endDate" class="form-label">Bitiş Tarihi</label>
  <input type="date" class="form-control" id="endDate">
</div>
<div class="mb-3">
  <label for="endDate" class="form-label">Araç</label>
  <select id="vehicle" class="form-control">
    <option>Hepsi</option>
  </select>
</div>
<div class="mb-3">
  <label for="btnSearch" class="form-label"></label>
  <button type="button" class="btn btn-primary" id="btnSearch" onclick="Search()">Ara</button>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@@twitter</td>
    </tr>
  </tbody>
</table>

@section Scripts
{
    <script src="~/js/home.js" asp-append-version="true"></script>
}